@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  background: #0f0f0f;
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
}

/* header */

  header {
    height: 56px;
    display: flex;
    align-items: center;
  }

  #menu-button {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  #title {
    flex: 1;
    font-family: 'League Gothic', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    user-select: none;
  }

  #github {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
  }

/* main */

  main {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  /* menu */

    #menu {
      width: 216px;
      padding: 12px;
      display: flex;
      flex-flow: column;
      gap: 12px;
    }

    #upload-button {
      height: 40px;
      padding: 0 12px;
      margin-right: 12px;
      display: flex;
      align-items: center;
      gap: 24px;
      font-size: 14px;
      background: none;
      border: none;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }

    #upload-button:hover {
      background: #272727;
    }

    #upload-button:active {
      background: #3d3d3d;
    }

    #menu > hr {
      height: 1px;
      border: 0;
      background: #3f3f3f;
    }
