@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  margin: 0;
}

body {
  background: #0f0f0f;
  color: white;
}

/* header */

  header {
    height: 56px;
    display: flex;
    align-items: center;
  }

  #menu-button {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  #title {
    flex: 1;
    font-family: 'League Gothic', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    user-select: none;
  }

  #github {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
  }
